<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>197496323921-o77t3musjidm6d8td8fcg8orsubi8077.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197496323921-o77t3musjidm6d8td8fcg8orsubi8077</string>
	<key>API_KEY</key>
	<string>AIzaSyAyofsTI3C1AsgNt7Thq8rtgNUbPr_KBKE</string>
	<key>GCM_SENDER_ID</key>
	<string>197496323921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litslink.massajor</string>
	<key>PROJECT_ID</key>
	<string>massajor-9e764</string>
	<key>STORAGE_BUCKET</key>
	<string>massajor-9e764.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197496323921:ios:86a60655fd224ecb</string>
	<key>DATABASE_URL</key>
	<string>https://massajor-9e764.firebaseio.com</string>
</dict>
</plist>